# Telegram Bot Configuration
# Токен бота от @BotFather
NEXT_PUBLIC_TELEGRAM_BOT_TOKEN=8224553051:AAGhMoyvUojdI5Mzli2D7LWlkMr_Xah4Deg

# ID администратора для получения уведомлений
NEXT_PUBLIC_TELEGRAM_ADMIN_ID=268494758

# URL сайта
NEXT_PUBLIC_SITE_URL=https://timursama.github.io/FoxampyLab

# Google Analytics (опционально)
NEXT_PUBLIC_GA_ID=your_ga_id_here

# Яндекс Метрика (опционально)
NEXT_PUBLIC_YM_ID=your_ym_id_here